body.light {
    background-color: $white;
    color: $black;

    .preload {
        background-color: $white;

        .spin {
            border: 5px solid $primary;
            border-top-color: transparent;
        }
    }

    .share-modal {
        background-color: $white;

        .share-menu {
            .share-menu-item {
                color: $white;
            }
        }
    }

    .sidebar {
        background-color: $white;

        .sidebar-profile {
            border-bottom: 2px solid #dee2e6;

            .theme-toggle {
                label {
                    background-color: $gray-200;

                    &::after {
                        background-color: $gray-600;
                        color: $white;
                    }
                }
            }
        }

        ul.menu {
            &::-webkit-scrollbar-track {
                background: #dee2e6;
            }

            li a {
                color: $black;
            }
        }

        .sidebar-footer {
            border-top: 2px solid #dee2e6;
        }
    }

    .nav-bar {
        background-color: $white;

        .sidebar-toggle,
        .shop-toggle {
            color: $black;
        }
    }

    .bottom-bar {
        background-color: $white;

        .menu {
            a {
                color: $black;
            }

            &.active a {
                color: $primary;
            }

            &.plus {
                a {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    .modal-menu-plus {
        ul li a {
            color: $white;

            .icon {
                background-color: $primary;
            }

            .menu-title {
                color: $black;
                background-color: $white;

            }
        }
    }

    .content-box {
        .content-box-item {
            background-color: $white;
            color: $black;
            border: 1px solid #dee2e6;
        }
    }
}