$primary: #3742fa;
$poppins-semibold : "poppins-semibold";
$poppins : "poppins";

$theme-colors: (primary: $primary);
$fa-font-path : "../fonts/fontawesome";

@import "../plugins/bootstrap4/scss/bootstrap";
@import "fs";

@font-face {
    font-family: $poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: $poppins-semibold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}


body {
    font-family: "poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: $white;
}

label {
    cursor: pointer;
}

.btn {
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-gray-100 {
    background-color: $gray-100;
}

.bg-gray-200 {
    background-color: $gray-200;
}

.bg-gray-300 {
    background-color: $gray-300;
}

.text-gray-600 {
    color: $gray-600;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.clear {
    clear: both;
}

.sidebar {
    height: 100%;
    width: 280px;
    padding: 0;
    background-color: $white;
    position: fixed;
    top: 0;
    left: -290px;
    z-index: 2002;
    transition: .3s;

    &.active {
        left: 0;
    }

    .sidebar-header {
        font-size: 18px;
        width: 100%;
        padding: 15px;

        .logo {
            float: left;
        }

        .close-sidebar-toggle {
            float: right;
            font-size: 21px;
            cursor: pointer;
        }
    }

    .sidebar-profile {
        padding: 15px;

        .image {
            height: 60px;
            width: 60px;
            margin-bottom: 15px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            img {
                height: 100%;
                position: absolute;
                margin: 0 auto;
            }
        }

        .username {
            font-size: 18px;
            font-family: $poppins-semibold;
            margin: 0;
        }

        .money {
            font-size: 12px;
            margin: 0;
        }
    }

    ul.menu {
        padding: 0 15px;
        margin: 0;
        list-style: none;
        height: calc(100% - 65px - 153px - 29px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background: #dddddd;
        }

        li a {
            display: inline-block;
            text-decoration: none;
            color: $black;
            padding: 15px 0;
            width: 100%;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 21px;

            .icon {
                font-size: 21px;
                width: 30px;
                display: inline-block;
            }
        }
    }

    .sidebar-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        font-size: 12px;
        padding: 5px;
    }
}

.close-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, .2);
    z-index: 2001;
}

.nav-bar {
    width: 100%;
    padding: 10px 0;
    background-color: $white;
    color: $black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    font-size: 18px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .sidebar-toggle,
    .shop-toggle {
        font-size: 21px;
        cursor: pointer;
        text-decoration: none;
        color: $black;
    }

    .logo {
        font-family: $poppins-semibold;
    }

}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    width: 100%;

    .menu {
        width: calc(100% / 5);
        display: block;
        float: left;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        font-size: 12px;

        a {
            display: inline;
            color: $black;
            text-decoration: none;
            font-family: $poppins-semibold;
            line-height: 1.2;

            .icon {
                display: block;
                font-size: 24px;
            }
        }

        &.active a {
            color: $primary;
        }

        &.plus {
            position: relative;

            a {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: $primary;
                position: absolute;
                top: -30px;
                left: 50%;
                font-size: 21px;
                line-height: 60px;
                font-weight: 100;
                color: $white;
                transform: translateX(-50%);
            }

            &.active a .icon {
                transform: rotate(45deg);
            }
        }
    }
}

.form-group-default {
    width: calc(100% - 20px);
    height: 50px;
    background-color: $gray-100;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 6px;
    transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;


    &:focus-within {
        background-color: $gray-200;
    }

    .form-icon {
        display: block;
        width: 50px;
        line-height: 50px;
        font-size: 24px;
        text-align: center;
        height: 100%;
        float: left;
        color: $gray-500;
    }

    .form-area {
        width: calc(100% - 50px);
        height: 100%;
        display: block;
        float: left;

        label {
            width: 100%;
            height: 15px;
            display: block;
            font-size: 12px;
            font-weight: 500;
            color: $gray-500;
            margin: 0;
        }

        input {
            background: none;
            height: calc(100% - 15px);
            width: 100%;
            display: block;
            border: none;
            outline: none;
            font-size: 14px;
        }
    }
}

@import "auth";